[submodule "misc/ak2"]
	path = misc/ak2
	url = https://github.com/msdx321/AnyKernel2.git
	branch = walleye
[submodule "misc/bin"]
	path = misc/bin
	url = https://github.com/msdx321/mKernel-bin
	branch = walleye
[submodule "toolchains/google-clang"]
	path = toolchains/google-clang
	url = https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86
	branch = oreo-mr1-release
