[submodule "misc/ak2"]
	path = misc/ak2
	url = https://github.com/msdx321/AnyKernel2.git
	branch = walleye
[submodule "misc/bin"]
	path = misc/bin
	url = https://github.com/msdx321/mKernel-bin
	branch = walleye
[submodule "toolchains/linaro-gcc"]
	path = toolchains/linaro-gcc
	url = https://github.com/msdx321/linaro-gcc.git
	branch = 7.2.1-aarch64
